# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# JetBrains IDEs
.idea/
*.iml

# JetBrains workspace files
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/modules.xml

# JetBrains caches
.idea/shelf/
.idea/httpRequests/

# OS
.DS_Store
Thumbs.db
